@charset "UTF-8"; 
@font-face {
    font-family: 'caviar';
    src: url('fonts/caviar/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    @font-face {
    font-family: 'bebas';
    src: url('fonts/bebas/bebasNeue.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'forest';
        src: url('fonts/forest/forest.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
        @font-face {
            font-family: 'forest';
            src: url('fonts/forest/forest.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
            }

    * {
        margin: 0px;
        /*inserção de comentário*/
    }
    body {
        background-color: white; 
       
    }

    header {
        margin-top:0px;
       
        min-width: 380px;
        max-width: 1000px;
        margin: auto; 
          
    }

    ::marker {
        color: rgb(44, 8, 151);
    }
    header > h1 {
        display:block;
        color: rgb(27, 17, 83);
        text-align: center;
        font-family:'forest';
        font-weight: 100;
        font-size: 10em;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.362);
        padding: 0px;
    }

    header > h3 {
        color: rgb(27, 17, 83);
    }
   
    
    hr{
        border: solid;
        color:#1d2553;
        min-width: 200px;
        max-width: 440px;
        margin: auto;
        margin-bottom: 0px;
        margin-top: 30px;
       
    }
    .dropdownmenu ul, .dropdownmenu li {
            margin: 0;
            padding: 0;
            height: 10px;
            
        }
        .dropdownmenu ul {
            
            list-style: none;
            width: 100%;
        }
        .dropdownmenu li {
            float: right;
            position: relative;
            width: 200px;
            
            
        }
        .dropdownmenu a {
            background: #0b3e59;
            color: #ffffff;
            display: block;
            font: bold 12px/20px sans-serif;
            padding: 3px 10px;
            text-align: center;
            text-decoration: none;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }
        .dropdownmenu li:hover a {
            background: #538be4;
        }
        #submenu {
            left: 0;
            opacity: 0;
            position: absolute;
            top: 35px;
            visibility: hidden;
            z-index: 1;
        }
        li:hover ul#submenu {
            opacity: 1;
            top: 20px;	/* adjust this as per top nav padding top & bottom comes */
            visibility: visible;
        }
        #submenu li {
            float: none;
            width: 100%;
        }
        #submenu a:hover {
            background: #5192f4;
        }
        #submenu a {
            background-color:#1e6e9a;
        }
    
    

    .nav  {
        display:block;
        margin: auto;
        height: 0.65em;
        min-width: 380px;
        max-width: 1000px;
        padding-top: 15px;
        padding-bottom:20px;   
        padding-left:15px;
        padding-right:15px;  
       
    }
    
    
.nav ul {
    list-style-type:none;
    display:block;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(56, 56, 112), rgba(255, 255, 255));
    
  }
  
  .nav li {
    font-family:'caviar';
    font-size: 1.1em;
    float: left;
    margin:auto;
    border-right: 1px solid #ddd;
    font-weight:500;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    border-bottom: 0px solid #ddd;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(15, 40, 123);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #93b4f0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #5776d4;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .contatos {
              color:white;
              font-size: 1.0em;
              font-weight:500;
              background-color: rgba(23, 12, 233, 0.474);
          }

        main {
            margin-top:0px;
            background-color: white;
            min-width: 380px;
            max-width: 1000px;
            margin: auto; 
            padding: 35px;   
            
        }

        .eita {
            max-width:1000px;
            min-width:380px;
            margin:auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .sub {
            color: #0f0245;
            font-family: 'caviar';
            font-size: 1em;
            margin:auto;
            padding-left: 15px;
            padding-right:15px;
            text-decoration: normal;
            font-weight:100;
            
        }
        article {
            margin-top:0px;
            padding:0px;
        }

        figcaption {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color:#12033a;
            max-width:400px;
            margin:auto;
            font-size:0.8em;
            padding:5px;
        }
        
       

            article > p{
                text-indent: 30px;
                padding: 0px;
                text-align: justify;

            }

        .citacao {
            text-indent: 50px;
            text-align: justify;
            margin-left: 50px;
            margin-right: 50px;
        }

        .direita   {
            float: right;
            padding-left:10px;
            padding-right:10px;
            margin-top: 25px;
            padding-bottom: 5px;
                   
        }
        .esquerda {
            float:left;
            margin-right: 10px;
            margin-top:25px;
           
        }

        .centro {
            display: block;
           
           
        }


        li {
            font-family: Arial, Helvetica, sans-serif;
            color: #12063a;
            margin-top: 10px;
        }

    h2{
        color: #0a0a58;
        font: bold 12px/20px sans-serif;
        font-size: 2em;
        text-align: center;
        text-decoration: normal;
        font-weight:100;
        margin-top: 100px;
        padding-bottom: 35px;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.838);
    }

    .titulo {
        color: #0a0a58;
        font: bold 12px/20px sans-serif;
        font-size: 2.5em;
        text-align: center;
        text-decoration: normal;
        font-weight:100;
        
        margin-top:20px;
        padding-bottom: 30px;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.838);
    }
       
    
    
    h3 {
        color: #ffffff;
        font-family: 'caviar';
        font-size: 1em;
       
        text-decoration: normal;
        font-weight:100;
        text-align: center;
        
    }
    h4 {
        color: #0a0a58;
        font-family:'caviar';
        font-size: 1em;
        text-align: left;
        margin-top:60px;
        
    }

    p {
        color: #12063a;
        font-family: Arial, Helvetica, sans-serif;
        text-indent:30px;
        text-align:justify;
        margin-top: 15px;
        line-height: 1.5; 
    }

    p.intro::first-letter {
        font-size:2em;
    }

    p > ul {
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }
    li {
        text-align: justify;
    }
   
    .coluna {
        float: left;
        width: 16.66%;
        max-height: 100px;
    }


   .social {
    margin-bottom:80px;
   }

.rodape {
        min-width: 380px;
        max-width: 1000px;
        margin:auto;
        padding:5px;
        margin-bottom:100px;
        
}
.equipe p {
    margin-bottom: 100px;
}


figure img {
    
    border-radius: 50%;
    padding: 20px;
    overflow: hidden;
    width: 20%;
    min-width: 150px;
    filter: grayscale(100%);
    display:flex;
    margin-left:auto;
    margin-right: auto;
}
img {
    display:block;
    margin:auto;
    padding:15px;
    
}

.instagram {
    width:0%;
    min-width: 150px;
    padding-top: 30px;
    display:flex;
    margin:auto;
    justify-content: space-around;
}

.imagem {
   
    box-align: center;
}

figure img:hover {
    filter:none;
}



.nome {
    margin-top:50px;
    color:#1c035f;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.816)
}

.subtitulo {
    font-family: 'caviar';
    color:#0a0a58;
}

.serra {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;  
}
#sede {
    box-align:center;
}

    footer {
   
        background-color: rgb(53, 125, 116);
        margin-top: 20px;
        height: 30px;
        padding-left:15px;
        padding-right:15px;
        min-width: 380px;
        max-width: 1000px;
        margin:auto;
       
    }

    footer > p {
        margin-top:0px;
    }

  

  
   